.container{
  display:grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 600px;
  gap: 15px 10px;
  grid-template-areas: 
  "hd hd hd hd hd hd hd"
  "sd sd sd main main main main"
  "ft ft ft ft ft ft ft";
  border: 2px solid blue;
}
.header_box{
  grid-area:hd;
  border: 2px dotted green;
}
.footer_box{
  grid-area: ft; 
  border 2px solid red;
}
.sidebar_box{
  grid-area: sd;
  border: 2px solid orange;
}
.content_box{
  grid-area: main;
  border: 2px solid black;
}
/* If Screen Is Wide Enough */
@media(min-width:600px) {
.container{
      display:grid;
      grid-template-columns: 200px 200px 200px 200px;
      grid-template-rows: auto;
      grid-template-areas: 
      "hd hd hd hd hd"
      "sd main main main"
      "ft ft ft ft";
      border: 2px solid red;
  }
}
