.container{
  display:grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: auto;
  grid-template-areas: 
  "hd hd hd hd hd hd hd"
  "sd sd sd main main main main"
  "ft ft ft ft ft ft ft";
  border: 2px solid blue;
}
.header box{
  grid-area:hd;
}
.footer box{
  grid-area: ft;  
}
.sidebar box{
  grid-area: sd;
}
.content box{
  grid-area: main;
}
/* If Screen Is Wide Enough */
@media(min-width:600px) {
.container{
      display:grid;
      grid-template-columns: 200px 200px 200px 200px;
      grid-template-rows: auto;
      grid-template-areas: 
      "hd hd hd hd hd"
      "sd main main main"
      "ft ft ft ft";
      border: 2px solid red;
  }
}
